.ctgs__btn {
  height: 80px;
  border-radius: 10px;
  border: 2px solid var(--gray-800, #3d3c3c);
  background: var(--white, #fff);
  -webkit-box-shadow: 9px 15px 0px 0px #f9784b;
  box-shadow: 9px 15px 0px 0px #f9784b;
  text-align: center;
  padding: 0;
  color: var(--gray-800, #3d3c3c);
  text-align: center;
  font-family: "Golos UI";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: calc(100% - 9px);
}
