/* @import "~@wikiline/webfont-golos-ui/src/scss/all";
@import "~@wikiline/webfont-golos-ui/src/scss/all-normal"; */
/* @import url(https://myfonts.ru/myfonts?fonts=doloman-pavljenko); */
/* @import url(https://myfonts.ru/myfonts?fonts=doloman-pavljenko); */

/* Шрифт для текста логотипа */
@import url("https://fonts.googleapis.com/css2?family=Unica+One&display=swap");

/* Шрифт для заголовков */
@font-face {
  font-family: "Doloman Pavljenko";
  src: local("Doloman Pavljenko"), url("../fonts/DolomanPavljenko.otf");
}

/* Шрифт для основного текста */
@font-face {
  font-family: "Golos UI";
  src: url("../fonts/Golos-UI_Regular.ttf");
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --gray-800: #3d3c3c;
  --gray-600: #676767;
  --gray-300: #c5c5c5;
  --blue-500: #3ab8eb;
  --orange-500: #f9784b;
  --yellow-500: #fdbf0f;
  --green-500: #00a878;
}

/* .clearfix:after {
    content: "";
    display: block;
    clear: both;
} */

/* html {
    min-width: 600px;
} */

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Golos UI", sans-serif;
  font-size: 14px;
  line-height: 1.4;
  color: #333;
  background-color: #fff;
}

/* .content_wrapper {
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 60px;
} */

/* header ------------------ */
.header {
  /* height: 25px; */
  height: 10vh;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  /* align-items: normal; */
  align-items: center;
  align-content: normal;
  padding: 30px 15px 60px;
}

@media screen and (min-width: 639px) {
  .header {
    padding: 60px 75px 70px;
  }
}

.header__logo {
  height: 22px;
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  align-items: center;
}

.header__bookopen_img {
  margin-right: 12px;
  height: 22px;
}

.header__logo_text {
  font-family: "Unica One", "Golos UI", sans-serif;
  font-size: 20px;
  color: var(--gray-800, #3d3c3c);
}

.header__nav {
  display: flex;
  height: 22px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  align-items: center;
}

.header__nav-item {
  list-style: none;
  margin-right: 25px;
}

.header__nav-item:last-child {
  margin-right: 0;
}

.nav__cart_img {
  /* margin-left: 25px; */
  height: 25px;
}

.nav__user_img {
  /* margin-right: 25px; */
  height: 25px;
}

/*---------------------------*/

.hero {
  /* padding: 15px 0 15px 170px; */
  padding: 0 15px;
  /* height: 538px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* @media screen and (min-width: 639px) {

} */

.hero_title {
  /* margin-top: 97px;
    margin-bottom: -40px; */
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.hero_title_h1 {
  font-family: "Golos UI", sans-serif;
  /* font-size: 64px; */
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 10px;
  width: 227px;
  font-size: 36px;
  color: var(--gray-800);
  /* width: 445px; */
}

.hero_title_img {
  /* margin-top: 115px;
    margin-left: -124px; */
  margin: 0;
  width: 60px;
  height: 60px;
}

.hero_left {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.hero_left_text1 {
  color: #676767;
  font-family: "Golos UI", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 10px;
  margin-bottom: 30px;
}

.hero_right {
  background: #fff;
  display: none;
}

.hero_right_img {
  height: 100%;
}

/*--------------*/

.hero_search {
  background: #fff;
}

.hero_search_form {
  background: #fff;
}

.hero_search_wrap {
  /* width: 535px; */
  height: 52px;
  min-height: 20px;
  border-radius: 20px;
  border: 2px solid var(--gray-800, #3d3c3c);
  background: var(--white, #fff);
  -webkit-box-shadow: 3px 15px 0px 0px #fdbf0f;
  box-shadow: 3px 15px 0px 0px #fdbf0f;
  /* margin-bottom: 47px; */
  margin-bottom: 37px;
  padding: 13px 30px 13px 20px;
  position: relative;
  width: calc(100% - 3px);
}

.hero_search_inp {
  border: none;
  outline: none;
  -webkit-appearance: none;
  /* width: 471px; */
  /* vertical-align: middle; */
  /* margin-left: 20px;
    margin-top: -13px; */
  color: var(--gray-800, #3d3c3c);
  font-family: "Golos UI", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 100%;
}

.hero_search_btn {
  /* margin-top: 13px; */
  width: 20px;
  height: 20px;
  border: none;
  background: url(/img/search.svg) no-repeat 50% 50%;
  position: absolute;
  top: 13px;
  right: 20px;
  bottom: 1px;
  left: auto;
  margin: 0;
}

/*----------------------*/

.hero_explorer {
  display: flex;
  /* flex-direction: row; */
  flex-direction: column;
  row-gap: 22px;
}

@media screen and (min-width: 639px) {
  .hero_explorer {
    flex-direction: row;
  }

  .hero_right {
    display: block;
  }
}

.hero_explorer_btn_wrap {
  /* width: 153px;
    height: 51px; */
  display: flex;
  flex-direction: row;
  justify-content: center;

  border-radius: 20px;
  border: 2px solid var(--gray-800, #3d3c3c);
  background: var(--yellow-500, #fdbf0f);
  padding: 16px 27px;
  align-items: center;
}

.hero_explorer_btn {
  /* width: 64px;
    height: 44px; */
  flex-shrink: 0;
  background: var(--yellow-500, #fdbf0f);
  border: none;
  outline: none;

  color: var(--gray-800, #3d3c3c);
  font-family: "Golos UI", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 30px;
}

/* .hero_explorer_btn_img {
    height: 22px;
    margin-top: 13px;
} */

.hero_explorer_line {
  /* margin-top: 22px; */
  /* margin-left: 22px; */
  /* width: 350px; */
  /* height: 1px; */
  /* background:
        repeating-linear-gradient(90deg, rgb(8, 0, 0) 0 3px, #0000 0 7px) */
  background: none;
  border: 1px dashed #767676;
  height: 0;
  /* margin-top: 23px; */
  width: 100%;
}

.header,
.content_wrapper,
.container,
.content,
.footer {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
}

/* .footer {
  margin-top: 70px;
  height: 150px;
  background: #364850;
  color: #fff;
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
} */

.content_wrapper {
  margin: 0 auto;
  flex-direction: column;
  height: 100%;
  min-width: 600px;
  max-width: 1440px;
}

.container {
  margin-top: 100px;
  flex-wrap: nowrap;
  flex: 1 0 auto;
}

.content {
  width: 100%;
  flex-direction: column;
  flex: 1 1 auto;
  order: 0;
  /* padding: 0 15px; */
  /* overflow-x: clip; */
}

.popular {
  margin-top: 170px;
  padding: 0 15px;
}

.popular_h2 {
  color: var(--gray-800, #3d3c3c);
  text-align: center;
  font-family: "Doloman Pavljenko", "Golos UI", sans-serif;
  /* font-size: 40px; */
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.popular_cards {
  margin-top: 43px;

  /* max-width: 1300px;*/
  /* width: 1300px; */
  width: 100%;

  min-height: 410px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* flex-wrap: wrap; */
  border-radius: 20px;
  border: 2px dashed var(--gray-800, #3d3c3c);
  padding-left: 114px;
  padding-right: 114px;
}

.popular_card1 {
  margin-left: 39px;
}

.popular_card4 {
  margin-right: 70px;
}

.popular_card1,
.popular_card2,
.popular_card3,
.popular_card4 {
  min-width: 175px;
  height: 278px;
  margin-right: 46px;

  border-radius: 10px;
  /* background: url(<path-to-image>), lightgray 50% / cover no-repeat; */
  box-shadow: 10px 12px 10px -6px rgba(61, 60, 60, 0.36);
}

.popular_card2,
.popular_card3,
.popular_card4 {
  display: none;
}

@media screen and (min-width: 639) {
  .popular_card2,
  .popular_card3,
  .popular_card4 {
    display: block;
  }
}

.popular_cover {
  height: 100%;
  width: 193px;
  /* width: 100%; */
}

.popular_ar {
  height: 32px;
  width: 32px;
}

.ctgs {
  /* width: 1300px; */
  /* border-radius: 20px; */
  /* border: 2px dashed var(--gray-800, #3D3C3C); */
  /* margin-top: 30px; */
  /* height: 378px; */
  /* padding-left: 13px; */
  width: 100%;
  padding: 150px 15px 160px;
}

.ctgs_title {
  display: flex;
  margin-bottom: 30px;
}

.ctgs_h3 {
  color: var(--gray-800, #3d3c3c);
  font-family: "Doloman Pavljenko", "Golos UI", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-left: 10px;
}

.ctgs_btns {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 112px 135px; */
  /* gap: 20px 20px; */
  grid-auto-flow: row;
  align-content: stretch;
  /* grid-template-areas:
        "ctgs_btn1 ctgs_btn2 ctgs_btn3"
        "ctgs_btn4 ctgs_btn5 ctgs_btn6"; */
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "ctgs_btn1"
    "ctgs_btn2"
    "ctgs_btn3"
    "ctgs_btn4"
    "ctgs_btn5"
    "ctgs_btn6";
  row-gap: 40px;
}

.ctgs_btn1 {
  grid-area: ctgs_btn1;
}

.ctgs_btn2 {
  grid-area: ctgs_btn2;
}

.ctgs_btn3 {
  grid-area: ctgs_btn3;
}

.ctgs_btn4 {
  grid-area: ctgs_btn4;
}

.ctgs_btn5 {
  grid-area: ctgs_btn5;
}

.ctgs_btn6 {
  grid-area: ctgs_btn6;
}

.ctgs_btn1,
.ctgs_btn2,
.ctgs_btn3,
.ctgs_btn4,
.ctgs_btn5,
.ctgs_btn6 {
  /* width: 387px; */
  height: 80px;
  /* min-height: 40px; */

  border-radius: 10px;
  border: 2px solid var(--gray-800, #3d3c3c);
  background: var(--white, #fff);
  -webkit-box-shadow: 9px 15px 0px 0px #f9784b;
  box-shadow: 9px 15px 0px 0px #f9784b;
  /* margin-bottom: 47px; */
  text-align: center;
  padding-top: 25px;

  color: var(--gray-800, #3d3c3c);
  text-align: center;
  /* font-family: Golos UI; */
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: calc(100% - 9px);
}

/*********************************/

.ctl {
  /* display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 100px 1fr 100px 1fr 100px 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 15px; */
  /* margin-top: 75px; */
  /* padding-left: 20px; */
  /* padding-right: 20px; */
  margin: 0;
  padding: 0 0 0 15px;
}

.ctl__cards {
  display: flex;
  flex-wrap: nowrap;
  column-gap: 30px;
  overflow: overlay;
}

.ctl__categ {
  padding-bottom: 125px;
}

.ctl__categ1 {
  grid-area: 1 / 1 / 2 / 6;
}

/*карточка*/

.ctl__card {
  display: flex;

  /* justify-content: flex-start;
  flex-flow: column;
  flex-direction: column;
  align-content: center;

  background-color: #bbdefb;
  height: 100%;
  padding: 15px;
  gap: 5px; */
  padding: 65px 0 0;
  flex-direction: column;
  row-gap: 15px;
}

.ctl__card_img_wrap > img {
  display: block;
  max-height: 298px;
  border-radius: 10px;
  box-shadow: 10px 12px 10px -6px rgba(61, 60, 60, 0.36);

  background: #ffecb3;
  border: 3px solid #ffcc80;
  border-radius: 5px;
  padding: 8px;
}

.ctl__card_title {
  color: var(--gray-600, #676767);
  text-align: center;
  font-family: Golos UI;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.ctl__card_price_wrap {
  display: flex;
  column-gap: 7px;
}

.ctl__card_price {
  /* width: 136px; */
  height: 46px;
  border-radius: 20px;
  border: 2px solid var(--gray-800, #3d3c3c);
  /* text-align: center; */
  /* padding-top: 11px;
  margin-right: 7px; */
  font-size: 20px;
  padding: 12px 5px;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*
.ctl__card_price>span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    margin-top: 12px;
    margin-bottom: 12px;
}
*/

.ctl__card_price_fav {
  width: 57px;
  height: 46px;
  border-radius: 20px;
  border: 2px solid var(--gray-800, #3d3c3c);
  background: var(--white, #fff);
  /* text-align: center; */
  padding: 14px 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ctl__card_cart {
  /* width: 200px; */
  height: 46px;
  border-radius: 20px;
  border: 2px solid var(--gray-800, #3d3c3c);
  background: var(--yellow-500, #fdbf0f);
  /* text-align: center;
  padding-top: 11px;
  margin-top: 15px; */
  padding: 10px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ctl__card_cart > img {
  display: block;
}

.ctl__categ_title {
  display: flex;

  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  height: 100%;
  gap: 12px;
}

.ctl__categ_title > img {
  width: 26px;
  height: 22.75px;
}

.ctl__categ_title > span {
  color: var(--gray-800, #3d3c3c);
  font-family: "Doloman Pavljenko", "Golos UI", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.footer {
  min-height: 100px;
  max-width: 1300px;
  /* background: #9cadb4; */
  display: flex;
  /* flex-direction: row; */
  /* justify-content: space-between; */
  align-items: center;
  /* gap: 5px; */
  /* margin-top: 40px; */
  padding-left: 15px;
  padding-right: 15px;
  flex-direction: column;
  row-gap: 45px;
  /* border-top: 2px dashed var(--gray-600); */
  padding: 0 15px 45px;
}

.footer_social1,
.footer_social2,
.footer_social3 {
  border-width: 2px;
  border-style: solid;
  border-color: #676767;
  width: 53px;
  height: 53px;
  text-align: center;
  padding-top: 10px;
  border-radius: 50px 50px 50px 50px;
  border-width: 2px;
  border-style: solid;
  border-color: #676767;
  width: 53px;
  height: 53px;
  text-align: center;
  padding-top: 10px;
  border-radius: 50px 50px 50px 50px;
  box-shadow: 5px 5px 1px 1px #3ab8eb;
}

.footer_center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.footer_social1_img,
.footer_social2_img,
.footer_social3_img {
  width: 25px;
  height: 25px;
}

.footer_right {
  color: var(--gray-600, #676767);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* .footer_left {
  color: var(--gray-800, #3d3c3c);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
} */

.footer__logo {
  height: 22px;
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  align-items: center;
}

.footer__bookopen_img {
  margin-right: 12px;
  height: 22px;
}

.footer__logo_text {
  font-family: "Unica One", "Golos UI", sans-serif;
  font-size: 20px;
  color: var(--gray-800, #3d3c3c);
}

.footer-divider {
  height: 0px;
  border: 1px dashed #767676;
  width: 100%;
}
