@import url("https://fonts.googleapis.com/css2?family=Unica+One&display=swap");

.logo {
  height: 22px;
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  align-items: center;
}

.logo__img {
  margin-right: 12px;
  height: 22px;
}

.logo__text {
  font-family: "Unica One", "Golos UI", sans-serif;
  font-size: 20px;
  color: var(--gray-800, #3d3c3c);
}
